/********************
　　 CSSリセット
********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//bootstrap
.container-fluid {
	margin: auto;
	max-width: 1140px;
	overflow: hidden;
}

@media screen and (max-width:1200px) {
	.container-fluid {
		max-width: 960px;
	}
}

@media screen and (max-width:992px) {
	.container-fluid {
		max-width: 720px;
	}
}

@media screen and (max-width:768px) {
	.container-fluid {
		max-width: 95%;
	}
}

@media screen and (max-width:576px) {
	.container-fluid {
		max-width: 95%;
	}
}

/**********************************************************************/

button[name="link"] {
	background: none;
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}

section.over {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.576);
	transition: .5s;
	display: flex;
	align-items: center;

	.container-fluid {
		.select_box {
			background: white;
			width: 100%;
			min-height: 90vh;
			max-height: 90vh;
			height: 400px;

			display: grid;
			grid-template:
				"header"1fr
				"main"9fr
				"footer"2fr
			;

			header {
				grid-area: header;
				text-align: center;
				display: flex;
				align-items: center;
				background: rgb(97, 89, 89);
				color: white;

				p {
					padding: 0;
					margin: 0 auto;
					font-weight: bold;
				}
			}
			main {
				grid-area: main;
				overflow-y: scroll;
				background: rgb(245, 241, 241);

				.main {
					display: block;
					width: 90%;
					margin: 0 auto;

					.switcher {
						$base-color: rgba(233, 218, 218, 0.623);
						position: relative;
						display: flex;
						background: $base-color;
						border: solid .1em $base-color;
						padding: .5em;
						z-index: 1;
						border-radius: .5em/.5em;
						text-align: center;

						margin: 1em;
						align-items: center;

						div {
							position: absolute;
							top: 50%;
							left: 25%;
							transform: translateY(-50%) translateX(-50%);
							background: white;
							width: 50%;
							height: 100%;
							z-index: 2;
							transition: .2s;
							border-radius: .5em/.5em;
							box-shadow: 0 0 .3em 0 rgba(92, 79, 79, 0.534);
						}

						p {
							width: 50%;
							margin: 0;
							padding: 0;
							z-index: 3;
							font-size: 16px;
						}
					}
				}
			}
		
			footer {
				grid-area: footer;
				button {
					
					background: rgb(159, 159, 220);
					border: solid .3em rgb(159, 159, 220);
					width: 100%;
					height: 100%;
					color: white;
					font-weight: bold;
					font-size: 40px;
					position: relative;
					overflow: hidden;
					transition: .5s;
					box-sizing: border-box;
					&:hover {
						background: none;
						color: rgb(159, 159, 220);
					}

					p {
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}
}


.box {
	display: none;
}

.range_box {
	display: none;
}
